<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sam Agnew</title>

        <link rel="stylesheet" href="static/foundation/css/normalize.css">
        <link rel="stylesheet" href="static/foundation/css/foundation.css">
        <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="static/css/custom.css" rel="stylesheet">

    </head>

    <body>
        {% block content %}
        <div class="row">

            <div class="large-12 columns panel">

                <div class="row">
                    <div id='logo' align="center" class="large-12 columns">
                        <div align="center">
                            <img src="/static/imgs/header.png" alt="Sam Agnew">
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="large-10 large-offset-1 columns">
                        <div class="row">
                            <h2><strong>I am Sam Agnew</strong></h2>
                        </div>
                        <div class="row">
                            <h4 class="subheader">I have a passion for creating things, especially <a href="http://www.shop.burnedbygodrecords.com/USA-Orders-Operational-Hazard-Physical-CD-001.htm" title="My previous band's full length album"><strong>music</strong></a> and <a href="http://github.com/sagnew" title="My Github page containing most of my projects"><strong>code</strong></a>.
                                I am a <a href="http://cs.rutgers.edu" title="The school with the best hackers around"><strong>student</strong></a> at Rutgers University, and the director of <a href="http://hackru.org" title="The most awesome hackathon ever"><strong>HackRU</strong></a>, the event that forms the backbone of our developer community. I was also an intern at <a href="http://nextdoor.com" title="Awesome Bay Area startup"><strong>Nextdoor</strong></a> over the Summer.</h4>
                            <h4 class="subheader">If you want to jam, hack on something with me or talk about anything feel free to <a href="http://twitter.com/sagnewshreds" title="@sagnewshreds"><strong>tweet</strong></a> at me, or shoot me an <a href="mailto:sagnew92@gmail.com?Subject=Yo%20Sam!" target="_top" title="sagnew92@gmail.com"><strong>email</strong></a>.</h4>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endblock %}
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/foundation/js/vendor/custom.modernizr.js"></script>
        <script src="static/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
